.line{
    margin: 40px 0;
    height: 3px;
    background-color: rgb(121, 104, 104);
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
}

.line-img{
    position: absolute;
    margin-top: -12px;
}