
 .owl-carousel .item {
    margin:  3px ;
    padding: 0 5px;
  }
  .owl-carousel .item .item-content-family {
    position: relative;
    text-decoration: none;
    display: block;
    color: black;
    border: 1px solid #cccccc;
    border-radius: 10px;
    transition: linear;
  }
  .owl-carousel .item .item-content-family:hover{
    box-shadow: 1px 1px 5px 5px #b3b3b3;
     transition: linear;
  }
  .owl-carousel .item .item-img {
    overflow: hidden;
    border-radius: 5px;
  }
  .owl-carousel .item img {
    height: 180px;
    transition: 1s;
    width: 90%;
    margin: auto;
  }
  .owl-carousel .item img:hover {
    transform: scale(1.1);
    transition: 1s;
  }
  
  /* button prev - next */
  
  .owl-prev,
  .owl-next {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: block !important;
    
  }
  .slick-next, .slick-prev{
    width: 50px !important;
    height: 50px  !important;
  
  }
  .slick-next{
    right: 5px !important;
    z-index: 2;
  
  }
  .slick-prev{
    left: 5px !important;
    z-index: 2;
  }
  .slick-next:before,.slick-prev:before{
    font-size: 40px ;
    color:   #999999 !important;
  }
  .owl-nav button:focus {
    outline: none;
  }
  .owl-theme .owl-nav [class*="owl-"]:hover {
    background: none;
    /* end button prev - next */
  }
  .owl-carousel .item .item-content h6 {
    
    padding: 0 10px;
  }
  
  .owl-carousel .item .item-content p:first-child {
    margin-bottom: 0;
    font-size: 18px;
  }
  .owl-carousel .item .item-content p:last-child {
    font-size: 24px;
    color: #ff751a;
    font-weight: 700;
  }
  .owl-carousel .item .item-content .item-conent-price {
    text-align: right;
    margin-right: 20px;
  }
.item-price {
    font-size: 28px;
    font-weight: 900;
}
.item-content-family{
    border-radius: 5px;
    background-color: white;
}

.item-content-family h4{
    padding : 10px;
    color: white;
    background-color: #e65c00;
    border-radius: 5px;
    margin-bottom: 0;
}
.halfYear h6, .fullYear h6{
  color: #009900;
}
.fullYear p{
  /* margin-bottom: 2px; */
  border-top-left-radius: 15px;
}
.btn-register{
  padding-bottom: 15px;
}
.btn-register button{
  border: none;
  color: white;
  background-color: #e65c00;
  padding: 10px 20px;
  border-radius: 15px;
}
.btn-register button:focus{
  outline: none;
}
 
.support {
  padding: 0 10px;
  font-size: 16px;
  color: #009900;
  font-weight: 600;
}
/* custom dialog */
#alert-dialog-title{
 display: flex;
 justify-content: center;

}
.MuiDialog-paperWidthSm{
  width: 600px !important;
  
}
.MuiTextField-root{
  margin-bottom: 20px !important;
}

/* custom form */
.container-btn{
  display: flex;
  flex-direction: row-reverse;
  margin-top: 20px;
}
.btn-comfirm, .btn-cancel{
  padding: 5px 20px;
  border: none;
  border-radius: 15px;
  font-weight: 600;

}
.btn-comfirm:focus, .btn-cancel:focus{
 outline: none;
}
.btn-cancel{
  margin-right: 10px;
  background-color: #cccccc;
  cursor: pointer;
}
.btn-comfirm{
 background-color: #1a1aff;

}
.data-form-error{
  color: red;
}
.MuiFormControl-root{
  width: 100% !important;
}
/* Sale */
.container-sale{
  transform: rotate(90deg);
    left: auto; 
    right: 0;
    position: absolute;
    top: 0;
    width: 150px;
    height: 150px;
    overflow: hidden;
}
.sale{
  background-color: #f46f20;
    color: #ffffff;
    font-size: 18px;
    text-transform: uppercase;
    line-height: 35px;
    text-align: center;
    /* left: 0; */
    right: 0;
    width: 200%;
    -webkit-transform: translateY(-50%) translateX(-50%) translateX(35px) rotate(
-45deg
);
    -ms-transform: translateY(-50%) translateX(-50%) translateX(35px) rotate(-45deg);
    transform: translateY(-50%) translateX(-50%) translateX(35px) rotate(-53deg);
    margin-top: 35px;
    font-size: 13px;
    line-height: 2;
    font-weight: 800;
    text-transform: uppercase;
    background: red;
    opacity: 0.8;
}
.img-dialog-title img{
  width: 250px;
  height: 100px;
}
@media screen and (max-width: 992px){
  .item-content-family h4{
    font-size: 20px;
}
  .item-content-info .item-price{
    font-size: 20px;
  }
  .halfYear h6{
    font-size: 14px;
  }
  .halfYear p, .fullYear p{
    font-size: 14px;
  }
  .sale{
    transform: translateY(-20%) translateX(-46%) translateX(20px) rotate(-60deg);
  }
  .btn-register{
    font-size: 12px;
    
  }
  .MuiFormControl-root{
    width: 90% !important;
    margin-left: 5% !important;
  }
  .container-btn{
    padding-bottom: 20px;
    padding-right: 5%;
  }
  .data-form-error{
    margin-left: 5%;
  }
  .img-dialog-title img {
    width: 180px;
    height: 70px;
  }
  .support{
    font-size: 14px;
  }
  .unit-price{
    font-size: 12px;
  }
}