.support-section h1{

}
.wordart {
    font-family: Arial, sans-serif;
    font-size: 2.5em;
    font-weight: bold;
    position: relative;
    z-index: 1;
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  
  .wordart.slate {
      transform: scale(1, 1.5);
      -webkit-transform: scale(1, 1.5);
      -moz-transform: scale(1, 1.5);
      -o-transform: scale(1, 1.5);
      -ms-transform: scale(1, 1.5);
  }
  
  .wordart.slate .text {
      font-family: Times, 'Times New Roman', serif;
      font-weight: normal;
      color: #2F5485;
      text-shadow: 0.03em 0.03em 0px #B3B3B3;
  }
  .btn-support-phone{
      margin-top: 10px;
      padding: 10px 40px;
      font-size: 25px;
      background-color: #e65c00;
      color: white;
      font-weight: 700;
      border: none;
      border-radius: 5px;
  }
  .btn-support-phone:focus{
      outline: none;
  }

  .left-content{
      border-right: 2px solid black;
  }
  .title{
      font-weight: 600;
      font-style: italic;
  }
.families{
    padding: 30px;
}
  /* style chữ nhấp nháy */
  @-webkit-keyframes my {
    0% { color: #F8CD0A; } 
    50% { color: #fff;  } 
    100% { color: #F8CD0A;  } 
}
@-moz-keyframes my { 
    0% { color: #F8CD0A;  } 
    50% { color: #fff;  }
    100% { color: #F8CD0A;  } 
}
@-o-keyframes my { 
    0% { color: #F8CD0A; } 
    50% { color: #fff; } 
    100% { color: #F8CD0A;  } 
}
@keyframes my { 
    0% { color: #F8CD0A;  } 
    25% { color: red;  }
    50% {color: green;}
    100% { color: blue;  } 
} 
.chu-nhap-nhay {
       
        font-size:24px;
        font-weight:bold;
    -webkit-animation: my 700ms infinite;
    -moz-animation: my 700ms infinite; 
    -o-animation: my 700ms infinite; 
    animation: my 700ms infinite;
}