.form-admin input{
    width: 70% !important;
}
.btn-change-admin{
    border: none;
    color: white;
    background-color: #e60000;
    padding: 10px 20px;
    border-radius: 15px;
    margin-left: 10px;
}
.btn-change-admin:focus{
    outline: none;
}
.form-change-password{
    position: relative;
}
.form-change-password{
    text-align: center !important;
}
.form-change-password>div>input{
    width: 400px;
    margin-bottom: 15px;
    padding: 10px;
}
.form-change-password div i{
    font-size: 20px;
    position: absolute;
    margin-left: -40px;
    margin-top: 15px;
    cursor: pointer;
}