/* branch */
.container-branch{
    background-color: #f2f2f2;
    padding-top: 60px;
    padding-bottom: 60px;
}
.container-branch h3{
    font-weight: 700;
}
.branch-content{
  
    border-radius: 15px;
}
.branch{
 margin-top: 40px;
}
.branch-content img{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.branch-text{
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: white;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}
.branch-img{
    overflow: hidden;
}
.branch-img img{
    transition: 1s;
}
.branch-img:hover img{
    transform: scale(1.1);
    transition: 1s;
}
