.form-add-data{
    padding: 0 300px;
    margin-top: 50px;
}

.form-fix p{
    text-align: left !important;
    margin-bottom: 10px;
}
.form-add-data input[type="submit"]{
    margin-top: 20px;
}
.form-fix{
    width: 100%;
    text-align: left;
}
.form-fix input{
    width: 100%;
    height: 45px;
    padding: 10px !important;
}